# About Me
set from = "root@thesudorm.com"
set realname = "Joseph Bauer"

# My credentials
set smtp_url = "smtp://root@thesudorm.com@mail.privateemail.com:587/"
set smtp_pass = "password"
set imap_user = "root@thesudorm.com"
set imap_pass = "password"
set ssl_starttls = yes

# My mailboxes
set folder = "imaps://mail.privateemail.com:993"
set spoolfile = "+INBOX"

# Where to put the stuff
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"
set certificate_file = "~/.mutt/certificates"

# Etc
set mail_check = 30
set move = no
set imap_keepalive = 900
set sort = threads
set editor = "vim"
